# archive
arch/manuscripts
arch/presentations
arch/plots
arch/notebooks
arch/UppmaxProposal/

# journal cache & output
journal/jl_*
journal/*html

# data
data/

# report
report/

# executables
excalibur/

# software
software/

# deprecated
src/deprecated/

# julia manifest
Manifest.toml
