# archive
arch/plots

# journal cache & output
journal/jl_*
journal/*html

# data
data/

# report
report/

# executables
excalibur/

# software
software/

# deprecated
deprecated/

# julia manifest
Manifest.toml
